@font-face {
    font-family: 'Disco';
    /* Custom name for the font */
    src: url('/fonts/DISCO___.ttf') format('truetype');
    /* Path to the TTF file */
}

.navbar {
    padding: 25px 0;
}

.navbar-brand {
    font-family: 'Disco';
    letter-spacing: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 2;
}

.nav-item {
    font-size: 20px;
}

.navbar-nav:hover a {
    color: #A9A9A9 !important;
}

.navbar-nav:hover a:hover {
    color: #F4F5FA !important;
    animation: myfirst 2s 1;
}