body {
    overflow-y: scroll;
    background-color: #111111;
}

header {
    background-color: #111111;
}

/* #img-right {

    height: 500px;
    width: 44rem;
    position: absolute;
    right: 0;
    top: 10rem;



} */

.edit-section-one {
    position: relative;
    margin: 0 auto;
    top: 3.5rem;
    
}

.edit-h1-setion-one {
    color: #fff !important;
    font-size: 3.8rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.edit-p-section-one {
    color: #fff !important;
    font-size: 1.5rem;
}



.line-1 {

    border-right: 5px solid white;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #c81616;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 15s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

#edit-button-section-one {
    border-radius: 25px;
    position: relative;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    white-space: nowrap;
    transition: width 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}



#edit-button-section-one:hover {
    transform: scale(1.1);
    width: 3rem;
}

#edit-button-section-one .button-text {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}

#edit-button-section-one:hover .button-text {
    opacity: 0;

}

#edit-button-section-one:not(:hover) .button-text {
    transition-delay: 0.25s;
}

#edit-button-section-one .arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transition: opacity 0.5s;
}

#edit-button-section-one:hover .arrow-img {
    opacity: 1;
}






#edit-button-section-one:hover::after .arrow-img {
    transform: translateX(-50%);
}




#first-section {
    height: 38.1rem;
    


}

#second-section {
    
    padding-top: 2rem;
}



/* sticky design */

/* #second-section .container {
    display: flex;
    flex-direction: row;
}

.second-section-text {
    position: sticky;
    text-align: center;
    top: 50%;
    
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
} */

/* regular design */


.second-section-text {
    
    text-align: center;
    
    
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    
}

.pricing-table {
	background: rgb(200, 22, 22);
	box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, .15);
	padding: 2rem;
	border-radius: 4px;
	transition: .3s;
    margin: 0.5rem;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.pricing-table:hover {
	box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, .15);
    transform: scale(1.1);
}

.pricing-table .pricing-label {
	border-radius: 2px;
	padding: .25rem .5rem;
	margin-bottom: 1rem;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
}

.pricing-table h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
    text-align: center;
}

.pricing-table h5 {
	color: #B3B3B3;
	font-size: 14px;
	font-weight: 400;
}

.pricing-table .pricing-features {
	margin-top: 2rem;
}

.pricing-table .pricing-features .feature {
	font-size: 14px;
	margin: .5rem 0;
	color: #B3B3B3;
}

.pricing-table .pricing-features .feature span {
	display: inline-block;
	float: right;
	color: #3b3b3b;
	font-weight: 500;
}

.pricing-table 	.price-tag {
	/* margin-top: 2rem; */
	text-align: center;
	font-weight: 500;
    
}

.pricing-table .price-tag .symbol {
	font-size: 24px;
    
}

.pricing-table .price-tag .amount {
	letter-spacing: -2px;
	font-size: 64px;
    
}

.pricing-table .price-tag .after {
	color: #fff;
	font-weight: 500;
    display: block;
}

.pricing-table .price-button {
	display: block;
	color: #fff;
	margin-top: 2rem;
	padding: .75rem;
	border-radius: 2px;
	text-align: center;
	font-weight: 500;
	transition: .3s;
  text-decoration: none;
  border-radius: 2rem;
}



.pricing-label {
	background: #cad2ff;

}

.price-tag {
	color: #fff;
    
}





/* footer */

footer {
    margin-top: 4rem;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    z-index: 1;
  }
  
  .content {
    position:relative;
    height: 35vh;
    text-align:center;
    background-color: rgb(200, 22, 22);
    z-index: 1;

  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

.fa-instagram {
    margin-top: 4rem;
}

.fa-instagram:hover{
    color: #F08080 !important;
}

.itemList-footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 3.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.copyright {
    margin-top: 1.5rem;
}