body {
    overflow-y: scroll;
}

header {
    background-color: #111111;
}

/* #img-right {

    height: 500px;
    width: 44rem;
    position: absolute;
    right: 0;
    top: 10rem;



} */

.edit-section-one {
    position: relative;
    top: 8rem;
    margin: 0 auto;

}

.edit-h1-setion-one {
    color: #fff !important;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.edit-p-section-one {
    color: #fff !important;
    font-size: 1.5rem;
}



.line-1 {

    border-right: 5px solid white;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #c81616;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 15s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

#edit-button-section-one {
    border-radius: 25px;
    position: relative;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    white-space: nowrap;
    transition: width 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}



#edit-button-section-one:hover {
    transform: scale(1.1);
    width: 3rem;
}

#edit-button-section-one .button-text {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}

#edit-button-section-one:hover .button-text {
    opacity: 0;

}

#edit-button-section-one:not(:hover) .button-text {
    transition-delay: 0.25s;
}

#edit-button-section-one .arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transition: opacity 0.5s;
}

#edit-button-section-one:hover .arrow-img {
    opacity: 1;
}






#edit-button-section-one:hover::after .arrow-img {
    transform: translateX(-50%);
}




#first-section {
    height: 38.1rem;
    background-color: #111111;


}

/* second section */
#second-section {
    background-color: white;
    margin-top: 2rem;
}

#second-section .container {
    display: flex;
    flex-direction: row;
}
.pricing-table {
	background: #c81616;
	box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, .15);
	padding: 2rem;
	border-radius: 4px;
	transition: .3s;
  margin: 0.5rem;
  border-radius: 1rem;
  
}

.pricing-table:hover {
	box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, .15);
}

.pricing-table .pricing-label {
	border-radius: 2px;
	padding: .25rem .5rem;
	margin-bottom: 1rem;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
}

.pricing-table h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
    text-align: center;
}

.pricing-table h5 {
	color: #B3B3B3;
	font-size: 14px;
	font-weight: 400;
}

.pricing-table .pricing-features {
	margin-top: 2rem;
}

.pricing-table .pricing-features .feature {
	font-size: 14px;
	margin: .5rem 0;
	color: #B3B3B3;
}

.pricing-table .pricing-features .feature span {
	display: inline-block;
	float: right;
	color: #3b3b3b;
	font-weight: 500;
}

.pricing-table 	.price-tag {
	/* margin-top: 2rem; */
	text-align: center;
	font-weight: 500;
}

.pricing-table .price-tag .symbol {
	font-size: 24px;
}

.pricing-table .price-tag .amount {
	letter-spacing: -2px;
	font-size: 64px;
}

.pricing-table .price-tag .after {
	color: #fff;
	font-weight: 500;
}

.pricing-table .price-button {
	display: block;
	color: #fff;
	margin-top: 2rem;
	padding: .75rem;
	border-radius: 2px;
	text-align: center;
	font-weight: 500;
	transition: .3s;
  text-decoration: none;
  border-radius: 2rem;
}



.purple .pricing-label {
	background: #cad2ff;
	color: #627afe;
}

.purple .price-tag {
	color: #fff;
}

.purple .price-button {
	background: #627afe;
}

.purple .price-button:hover {
	background: #546dfe;
}

.turquoise .pricing-label {
	background: #b9edee;
	color: #44cdd2;
}

.turquoise .price-tag {
	color: #fff;
}

.turquoise .price-button {
	background: #44cdd2;
}

.turquoise .price-button:hover {
	background: #2dbcc4;
}

.red .pricing-label {
	background: #ffc4c4;
	color: #ff5e5e;
}

.red .price-tag {
	color: #fff;
}

.red .price-button {
	background: #fff;
}

.red .price-button:hover {
	background: #fff;
}

/* footer */
