body {
    overflow-y: scroll;


}

#img-right {

    width: auto;
    height: 500px;
    width: 44rem;
    position: absolute;
    right: 0;
    top: 10rem;



}

.edit-section-one {
    position: relative;
    top: 9rem;

}

.edit-h1-setion-one {
    color: #fff !important;
    font-size: 2.6rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.edit-p-section-one {
    color: #fff !important;
}

.line-1 {

    border-right: 5px solid white;

    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #c81616;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 15s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

#edit-button-section-one {
    border-radius: 3px;
}

#first-section {
    height: 50rem;
}